@font-face {
	font-family: 'myLXGW';
	src: url('https://cdn.jsdelivr.net/gh/WangZhSi/WangZhSi.github.io@main/_assets/_font/LXGW.ttf');
}

body{
	font-family: 'Arial', 'myLXGW';
	font-size: 12;
}

.markdown-body{
	font-family: 'Arial', 'myLXGW';
	font-size: 4;
}

.markdown-title{
	font-family: 'Arial', 'myLXGW';
	font-size: 8;
}